<form [formGroup]="form" (submit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Konstruktor für "Auto"</h4>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <label for="name" class="col-sm-3 col-form-label">Instanzname</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="name" id="name">
      </div>
    </div>
    <hr>
    <h5>Parameter</h5>
    <div class="row mb-3">
      <label for="farbe" class="col-sm-3 col-form-label">farbe</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="farbe" id="farbe">
      </div>
    </div>
    <div class="row mb-3">
      <label for="marke" class="col-sm-3 col-form-label">marke</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="marke" id="marke">
      </div>
    </div>
    <div class="row mb-3">
      <label for="motor" class="col-sm-3 col-form-label">motor</label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="motor" id="motor">
          <option *ngIf="motoren.length > 0"></option>
          <option *ngFor="let motor of motoren" [ngValue]="motor">{{motor.name}}</option>
          <option *ngIf="motoren.length === 0" disabled>Keine Instanzen vom Typ "Motor" vorhanden!</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="radVorneLinks" class="col-sm-3 col-form-label">radVorneLinks</label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="radVorneLinks" id="radVorneLinks">
          <option *ngIf="raeder.length > 0"></option>
          <option *ngFor="let rad of raeder" [ngValue]="rad">{{rad.name}}</option>
          <option *ngIf="raeder.length === 0" disabled>Keine Instanzen vom Typ "Rad" vorhanden!</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="radVorneRechts" class="col-sm-3 col-form-label">radVorneRechts</label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="radVorneRechts" id="radVorneRechts">
          <option *ngIf="raeder.length > 0"></option>
          <option *ngFor="let rad of raeder" [ngValue]="rad">{{rad.name}}</option>
          <option *ngIf="raeder.length === 0" disabled>Keine Instanzen vom Typ "Rad" vorhanden!</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="radHintenLinks" class="col-sm-3 col-form-label">radHintenLinks</label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="radHintenLinks" id="radHintenLinks">
          <option *ngIf="raeder.length > 0"></option>
          <option *ngFor="let rad of raeder" [ngValue]="rad">{{rad.name}}</option>
          <option *ngIf="raeder.length === 0" disabled>Keine Instanzen vom Typ "Rad" vorhanden!</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="radHintenRechts" class="col-sm-3 col-form-label">radHintenRechts</label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="radHintenRechts" id="radHintenRechts">
          <option *ngIf="raeder.length > 0"></option>
          <option *ngFor="let rad of raeder" [ngValue]="rad">{{rad.name}}</option>
          <option *ngIf="raeder.length === 0" disabled>Keine Instanzen vom Typ "Rad" vorhanden!</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Neue Instanz anlegen</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Abbrechen</button>
  </div>
</form>
