<form [formGroup]="form" (submit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Konstruktor für "Motor"</h4>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <label for="name" class="col-sm-3 col-form-label">Instanzname</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="name" id="name">
      </div>
    </div>
    <h5>Parameter</h5>
    <div class="row mb-3">
      <label for="leistungInKw" class="col-sm-3 col-form-label">leistungInKw</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="leistungInKw" id="leistungInKw">
      </div>
    </div>
    <div class="row mb-3">
      <label for="treibstoff" class="col-sm-3 col-form-label">treibstoff</label>
      <div class="col-sm-9">
        <select class="form-select" formControlName="treibstoff" id="treibstoff">
          <option></option>
          <option>Benzin</option>
          <option>Diesel</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Neue Instanz anlegen</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Abbrechen</button>
  </div>
</form>
