<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">Grundlegende Konzepte OOP</span>
    <form class="form-inline">
      <button title="Alle Objekte löschen" class="btn btn-outline-light" (click)="entferneAlleObjekte()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </form>
  </div>
</nav>

<div class="container-fluid" style="margin-top: 70px;">
  <h3>Klassen</h3>
  <div class="d-flex flex-wrap">
    <div class="card me-3 mb-3">
      <div class="card-header h6">Auto</div>
      <div class="card-body">
        <pre>+ farbe : string</pre>
        <pre>+ marke : string</pre>
        <pre>+ motor : Motor</pre>
        <pre>+ radVorneLinks : Rad</pre>
        <pre>+ radVorneRechts : Rad</pre>
        <pre>+ radHintenLinks : Rad</pre>
        <pre>+ radHintenRechts : Rad</pre>
      </div>
      <hr class="my-0">
      <div class="card-body">
        <pre>+ beschleunigen(gaspedalInProzent: number): number</pre>
        <pre>+ vollgas(): number</pre>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary text-monospace me-3" (click)="oeffneNeuesAutoPopup()"><small>new Auto()</small></button>
        <button type="button" class="btn btn-sm btn-secondary text-monospace" (click)="generiereAuto()"><small>new Auto() (automatisch)</small></button>
      </div>
    </div>
    <div class="card me-3 mb-3">
      <div class="card-header h6">Motor</div>
      <div class="card-body">
        <pre>+ leistungInKw : number</pre>
        <pre>+ treibstoff : <ng-container *ngFor="let item of treibstoffe | keyvalue; let last = last">"{{item.value}}"<ng-container *ngIf="!last"> | </ng-container></ng-container></pre>
      </div>
      <hr class="my-0">
      <div class="card-body">
        <pre>+ berechneGeschwindigkeit(gaspedalInProzent: number): number</pre>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary text-monospace" (click)="oeffneNeuerMotorPopup()"><small>new Motor()</small></button>
      </div>
    </div>
    <div class="card me-3 mb-3">
      <div class="card-header h6">Rad</div>
      <div class="card-body">
        <pre>+ reifenZustandInProzent : number</pre>
        <pre>+ typ : <ng-container *ngFor="let item of reifentypen | keyvalue; let last = last">"{{item.value}}"<ng-container *ngIf="!last"> | </ng-container></ng-container></pre>
      </div>
      <hr class="my-0">
      <div class="card-body">
        <pre>+ reifenAbnutzen(gaspedalInProzent: number, leistungInKw: number): void</pre>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary text-monospace" (click)="oeffneNeuesRadPopup()"><small>new Rad()</small></button>
      </div>
    </div>
  </div>

  <hr>

  <h3>Objekte</h3>
  <div class="d-flex flex-wrap">
    <app-objekt-anzeige *ngFor="let objekt of objekte" [objekt]="objekt"></app-objekt-anzeige>
    <div *ngIf="objekte.length === 0" class="text-muted">
      <fa-icon [icon]="faInfoCircle" [fixedWidth]="true"></fa-icon> Keine Objekte vorhanden
    </div>
  </div>
</div>
